<nav class="navbar navbar-expand-lg" style="background-color: #3A6B35">
  <div class="container-fluid ">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <img src="/images/logo.png" width="200px" height="200px" alt="" class="d-block align-middle mr-2">
      <ul class="navbar-nav">
   {{#if loggedIn}}
        <li>
          <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
        </li>
     
        <li>
          <a class="nav-link text-light " href="/dashboard" >Dashboard</a>
        </li>
        <li>
          <a class="nav-link text-light" href="#" id="logout">Log Out</a>
        </li>
      </ul>
{{/if}}
    </div>
  </div>
</nav>
  