<section>
  <form class="edit-form text-center">
    <div class="container ">
    <div class="row d-flex justify-content-center  h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
    <div>
      <label for="post-title" class="form-label mb-4 ">Title</label>
      <input
        class="form-control"
        type="text"
        name="post-title"
        value="{{post.title}}"
      />
    </div>
    <div>
      <label for="post-text form-label mb-4">Content</label>
      <textarea
        type="text"
        name="post-content"
        class="form-control"
      >{{post.post_content}}</textarea>
    </div>
    <button type="submit" class="btn">Update post</button>
    <button type="button" class="delete-post btn">Delete this post</button>

  </form>
</section>

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>