{{#if loggedIn}}
<div>
<h2>Homepage! List of all activities</h2>
</div>
{{#each posts as |post|}}
<article>
    {{> post-info post}}
</article>
{{/each}}
{{else}}
<h3>Please log in or sign up to see all community activities</h3>
{{/if}}