{{#if loggedIn}}
<div>
<h2>Homepage! List of all activities</h2>
</div>
{{#each posts as |post|}}
<article>
    {{> post-info post}}
</article>
{{/each}}
{{else}}
<div class="home-card">
<h3 class="text-center text-capitalize home-page">Please log in or sign up to see all community activities</h3>
<a href="/login" class="btn btn-lg  home-button" role="button" >Login</a>

<script src="https://cdn.lordicon.com/qjzruarw.js"></script>
<lord-icon class="icon-home"
    src="https://cdn.lordicon.com/azartkjs.json"
    trigger="boomerang"
    style="width:250px;height:250px">
</lord-icon>        
</div>
{{/if}}