
 <form class="login-form">
  <div class="container">
    <div class="row d-flex justify-content-center  h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5 m-5">
        <div class="card shadow-2-strong login-card" style="border-radius: 1rem;">
          <div class="card-body p-5 h-100 text-center">
            <h3 class="mb-5">Sign in</h3>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="email-login" class="form-control form-control-lg" />
              <label class="form-label" for="email-login">Email</label>
            </div>
          <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="password-login" class="form-control form-control-lg" />
              <label class="form-label" for="password-login">Password</label>
            </div>
            <button class="btn btn-lg btn-block" type="submit">Login</button>
 <hr class="my-4">
 <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/signup"
                class="text-success">Register</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
 </form>
<script src="/js/login.js"></script>  