<!--Sign up form -->
<form class="signup-form ">
    <div class="container">
       <div class="row d-flex justify-content-center  h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5 m-5">
             <div class="card shadow-2-strong login-card" style="border-radius: 1rem;">
              <div class="card-body p-5 h-100 text-center">
<h2>Sign Up</h2>
  <div class="form-outline mb-4 fw-bold text-capitalize">
    <label class="form-label" for="username-signup">username:</label>
    <input class="form-control" type="text" id="username-signup"class="form-control form-control-lg" />
  </div>
  <div class="form-outline mb-4 fw-bold text-capitalize">
    <label class="form-label" for="email-signup">email:</label>
    <input class="form-control" type="text" id="email-signup"class="form-control form-control-lg" />
  </div>
  <div class="form-outline mb-4 fw-bold text-capitalize">
    <label class="form-label" for="password-signup">password:</label>
    <input class="form-control" type="password" id="password-signup"class="form-control form-control-lg" />
  </div>
     <button class="btn btn-lg btn-block" type="submit"> Sign Up </button>
    </div>
  </div>
    </div>
    </div>
    </div>
</form>

<script src="/js/signup.js"></script>