<h2 class="text-center m-4">Add Comment</h2>

<section class="text-capitalize m-5">
    {{> post-info post}}

    {{#if loggedIn}}
    <form class="comment-form">
        <div>
            <textarea class="form-control"name="comment-body"></textarea>
        </div>
        <div class="text-center">
            <button type="submit" class=" btn btn-warning m-4">Add Comment</button>
            <div class="justify-content-evenly "> 
           <button class="upvote-btn btn btn-outline-success">
            <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/iwaotjbp.json "
    trigger="hover"
    style="width:30px;height:30px">
</lord-icon>
           </button>
            <button type="button" class="downvote-btn btn btn-outline-success">
                <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/wwneckwc.json"
    trigger="hover"
    style="width:32px;height:32px">
</lord-icon>
            </button>
        </div>
        </div>
    </form>
    {{/if}}
</section>

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
<script src="/js/like.js"></script>
<script src="/js/dislike.js"></script>
{{/if}}
